data/*
!data/simulated/
!data/warps.py
__pycache__
*.png
*.pdf
*.pkl
*.svg
plots/
old/
out/
.DS_Store
job.slurm.*
.DS_Store/
.csv
job.slurm*
scp*
pytorch/
notebooks/
gpr.py
make_st_data_plots.py
plot_intermediate_G.py
gp_functions.py
./util.py
!examples/synthetic_data_example.png
*.ipynb
.ipynb_checkpoints/
docs/
examples/gpsa_test_env/
gpsa_env/
gpsa310_clean_env/
emily-testing/
*.egg-info/
__pycache__/
*.py[cod]
gpsa_env310/
# Ignore virtual environments
gpsa_env/
gpsa_env310/
gpsa310_clean_env/
examples/gpsa_test_env/
*.egg-info/
__pycache__/
*.py[cod]
